@mixin retina($image, $width, $height) {
  background: transparent url($img-path + $image + '.png') no-repeat;

  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx),
         (max-width: 1024px) {

    /* on retina, use image that's scaled by 2 */
    background-image: url($img-path + $image + '@2x.png');
    background-size: $width $height;
  }
}